<div class="container">
    <h1>Test.png</h1>
    <div class="d-flex justify-content-end">
        <a href="<%= rawLink %>" class="btn btn-primary mx-1">Raw</a>
        <a href="<%= downloadLink %>" class="btn btn-primary mx-1">Download</a>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <img src="<%= rawLink %>" class="img-fluid">
    </div>
</div>
