<div class="container">
    <h1>Test.png</h1>
    <div class="d-flex justify-content-end">
        <a href="<%= links.raw %>" class="btn btn-primary mx-1">Raw</a>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <div class="bg-body-secondary p-2">
            <% if (mimeType.includes("image/")) { %>
                <img src="<%= links.raw %>" class="img-fluid">
            <% } else if (mimeType.includes("text/") || mimeType == "application/json") { %>
                <pre style="word-wrap: break-word; white-space: pre-wrap;" hx-trigger="load" hx-get="<%= links.raw %>"></pre>
            <% } %>
        </div>
    </div>
</div>
