<nav class="navbar navbar-expand-lg bg-body-tertiary" hx-boost="true" hx-target="#app-container" hx-swap="innerHTML">
    <div class="container-fluid">
        <a href="" class="navbar-brand">Tycoon Uploads</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <a href="/login" class="nav-link">Login</a>
        </div>
    </div>
</nav>