<div class="col card">
    <% if (upload.urls.thumbnail) { %>
        <div class="d-flex justify-content-center pt-1">
            <img src="<%= upload.urls.thumbnail %>" style="width: 100px;">
        </div>
    <% } %>
    <div class="card-body px-0 py-1">
        <p class=""><%= upload.title %></p>
        <div class="d-flex justify-content-center">
            <a href="<%= upload.urls.view %>" class="btn btn-link">View</a>
            <a href="<%= upload.urls.edit %>" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>