<div class="col card m-2">
    <div class="d-flex justify-content-center pt-1">
        <img src="<%= upload.urls.thumbnail %>" style="width: 100px;">
    </div>
    <div class="card-body">
        <h5 class="card-title"><%= upload.title %></h5>
        <div class="d-flex justify-content-end">
            <a href="<%= upload.urls.view %>" class="btn btn-link mx-1">View</a>
            <a href="<%= upload.urls.edit %>" class="btn btn-primary mx-1">Edit</a>
        </div>
    </div>
</div>